<h1>
  Set a new reminder!
</h1>

<form method="post" action="/reminder/create" class="bg-info container-fluid" style="padding: 10px;">
  <div class="form-group">
    <div class="form-group col-sm-6">
      <label for="name">Your Name</label>
      <input id="name" type="text" class="form-control" name="name" readonly aria-describedby="nameHelp"
        value="<%= user.googlename %>">
      <small id="nameHelp" class="form-text text-muted">
        We got this information from your Google account.
        <a href="/profile/edit"> Modify your info </a>
      </small>
    </div>
    <div class="form-group col-sm-6">
      <label for="email">Email</label>
      <input id="email" type="text" class="form-control" name="email" readonly aria-describedby="nameHelp"
        value="<%= user.googleemail %>">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label for="task">Task</label>
    <input type="text" class="form-control" name="task" placeholder="What would you like to do?" autofocus required>
  </div>
  <div class="form-group">
    <div id="dateTimeGroup" class="form-row">
      <% let d=new Date(); let e=new Date(); e.setDate(d.getDate() + 3); let timeReg=/[T\.Z]/ %>
        <div id="dateGroup" class="form-group col-sm-6">
          <label for="dateSelector">Remind me on...</label>
          <input id="dateSelector" type="date" name="date" class="form-control"
            onchange="updateBounds()" min="<%= d.toISOString().split(timeReg)[0] %>"
            max="<%= e.toISOString().split(timeReg)[0] %>" required>
        </div>
        <div id="timeGroup" class="form-group col-sm-6">
          <label for="timeSelector">at</label>
          <input id="timeSelector" type="time" step="1" name="time" class="form-control" required>
          <small id="dateHelp" class="form-text text-muted">
            Your browser reports the current time as <time id="currentTime">
              <%= d.toString().split(/\d{2} \d{4} | GMT/)[1] %>
            </time>.
          </small>
        </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-2">
      <label for="channel" class="input-group-text">Notify me via:</label>
      <select class="form-control" name="channel" required>
        <option value="Email">Email</option>
        <option value="Twitter">Twitter</option>
        <option value="Facebook">Facebook</option>
      </select>
    </div>
    <div class="form-group col-sm-10">
      <label for="notes">Notes about your task (optional):</label>
      <textarea class="form-control" id="notes" name="notes"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary pull-right">Remind me!</button>
</form>
<script>
  function updateBounds() {
    const ds = document.getElementById('dateSelector');
    const ts = document.getElementById('timeSelector');
    const ct = document.getElementById('currentTime');
    let inputDate = new Date(ds.value);
    let now = new Date();
    let dateMax = new Date(); dateMax.setDate(dateMax.getDate() + 3);
    if (inputDate.getDate() == now.getDate()) {
      ts.setAttribute('min', now.toTimeString().split(' ')[0]);
      ts.removeAttribute('max');
    } else if (inputDate.getDate() == dateMax.getDate()) {
      ts.removeAttribute('min');
      ts.setAttribute('max', now.toTimeString().split(' ')[0]);
    } else {
      ts.removeAttribute('min');
      ts.removeAttribute('max');
    }
  }

  function clockerino() {
    document.getElementById('currentTime').innerHTML = new Date().toTimeString().split(' ')[0];
  }

  setInterval(clockerino, 1000);
</script>